.arcade-page{
    width: 100vw;
    height: 100dvh;
    align-items: center;
    justify-content: center;
}

.game-container{
    /* width: 100%; */
    height: 100%;
    flex-shrink: 0;
    /* overflow: hidden; */
    flex-grow: 0;
    background: url(/assets/game-assets/background.webp);
    background-size: cover;
    aspect-ratio: 9/16;
    overflow: scroll; /* change to hidden later */
    background-attachment: local;
}

.arcade-top-section, .arcade-bottom-section{
    height: 50%;
    width: 200%;
    flex-shrink: 0;
}

.arcade-top-section{
    height: 60%;
}

.arcade-bottom-section{
    height: 40%;
    position: relative;
}

.shop-section, .enemy-section, .team-section{
    height: 100%;
    z-index: 1;
}

.shop-section, .enemy-section, .team-section{
    width: 50%;
}

.team-section, .enemy-lane{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

.team-section{
    padding-right: 10%;
}

.enemy-section{
}

.team-section{
    left: 0px;
}

.shop-section, .enemy-section{
    flex-direction: column-reverse;
    padding-bottom: 30px;
}

.slot{
    background-image: url(/assets/game-assets/slot.webp);
    background-size: cover;
    width: 70px;
    height: 70px;
    background-position-y: bottom -20px;
}

.game-overlay{
    position: absolute;
    z-index: 100;
}

.unit-container{
    align-items: center; 
}

.unit-image{
    width: auto;
    height: 60px;
    font-size: 2.5rem;
}



@media (min-width: 1024px) {
    .arcade-page{
        padding: 10% 5% 0% 5%;
    }
}