.photobooth-page{
    width: 100vw;
    height: 100dvh;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(var(--anon-color-alpha));
    padding-top: 15%;
    gap: 10px;
    overflow: hidden;
    position: relative;
}

.tools-section{
    width: 100%;
    height: 50%;
    /* background-color: rgb(var(--saki-color-alpha)); */
    /* background-color: white; */
    /* border-top: 2px solid rgb(var(--saki-color)); */
    border-top: 1px solid gray;
    border-radius: 10px 10px 0px 0px;
    /* padding-inline: 10px; */
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    overflow-x: hidden;
    user-select: none;
}


.tools-section button{
    height: unset;
    width: unset;
    background-color: unset;
    padding: unset;
    text-align: center;
    cursor: pointer;
    box-sizing:border-box;
    text-align: center;
}


.tab-selector{
    margin-top: auto;
    width: 100%;
    justify-content: space-evenly;
    /* border-radius: 25px; */
}

.tabs-container{
    overflow: hidden;
    justify-content: flex-start;
    width: 400%;
}

.tabs{
    width: 25%;
    flex-shrink: 0;
    padding-inline: 10px;
    position: relative;
}

.character-selection, .input-container{
    width: 100%;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}



.back-button{
    width: 38px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.back-button-svg{
    position: absolute;
    width: 28px;
}

#back{
    opacity: 0;
}

.character-selection{
    padding-block: 7.5px;
    border-bottom: 1px solid gray;
}

.character-toggle{
    border-radius: 25px;
    border: 2px solid rgb(var(--saki-color));
    flex-grow: 1;
    position: relative;
    background-color: #f8b9c2;
}

.character-toggle button{
    padding-inline: auto;
    width: 50%;
    border: unset;
    color: black;
}

.subsection-container, .decor-tab, .background-tab{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.filter-tab{
    overflow-y: scroll;
    scroll-snap-type: y proximity
}

.decor-tab{
    position: relative;
}

.decor-tab, .background-tab{
    padding: 10px;
    padding-top: 0px;
    gap: 10px;
}
.decor-tab .button-background-images{
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}


.filter-tab{
    gap: 5px;
}

.filter-sliders{
    scroll-snap-align: none;
}

.tools-subsections{
    min-height: 100px;
    padding-right: 10px;
}

.character-toggle-button{
    z-index: 1  !important;
}

.pill{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgb(var(--saki-color-alpha));
    z-index: 0;
    border-radius: 25px;
    transition-property: background-color;
}

#pause-button{
    border-radius: 10px;
    padding: 0.3rem 1.2rem;
}

.home-subsection{
    gap: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.home-subsection-icon{
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1.5px solid gray;
    background-color: rgb(var(--anon-color-alpha));
    border-radius: 15px;
    cursor: pointer;
}

.tools-subsections .home-subsection-icon svg{
    width: 32px;
    height: 32px;
}

.position-subsection{
  overflow: hidden;
  gap: 5px;
  /* padding: 5px 15px 5px 0px; */
}

.subsection-container:has(.position-subsection){
    padding-block: 5px;
    scrollbar-width: none;
}

.input-container span{
    white-space: nowrap;
    display: inline-block;
    word-break: keep-all;
}

.input-container button{
    width: 100%;
    flex-shrink: 0;
}

.slider-container{
    flex-grow: 1;
    position: relative;
}

.slider-container span{
    position: absolute;
    top: -5px;
    user-select: none;
}

.slider-container span:last-child{
    right: 0px;
    text-align: right;
}

.slider-container input[type="range"]{
    flex-grow: 1;
    accent-color: rgb(var(--saki-color-alpha));   
    margin-top: 10px;  
}

.input-container input[type="number"], #z-index-input{
    -moz-appearance: textfield; /* Replaces the spinner with a standard text field look */
    appearance: textfield; /* Standard property for newer browsers */
    width: 6ch;    
    border: 2px solid rgb(var(--saki-color-alpha));
    border-radius: 5px;
    text-align: center;
}

/* input[type="range"]::-moz-range-progress, {
    
} */

.tab-selector-button{
    padding: 5px;
    flex-grow: 1;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    background-color: #f8b9c2;
}

.tabs svg{
    width: 25px;
    height: 25px;
    fill: currentColor;
    flex-shrink: 0;
    vertical-align: text-top;
}

.tools-section .tools-section-buttons{
    display: flex;
    border-radius: 5px;
    background-color: rgb(var(--combined-color));
    padding: 5px;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
}

.tools-section .tools-section-buttons:active{
    transform: translateY(2px);
}

.tools-section-buttons svg{
    display: inline;
}

.tab-selector-button.active{
    color: rgb(var(--combined-color));
    background-color: rgb(var(--anon-color-alpha));
    border-top: 2px solid rgb(var(--combined-color));
}

/* .tab-selector-button:nth-child(2){
    border-inline: 1px solid gray;
}

.tab-selector-button:nth-child(3){
    border-right: 1px solid gray;
} */

.motion-subsection, .expression-subsection, .decor-subsection, .background-subsection, .filter-subsection, .cloth-subsection{
    /* flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    gap: 10px;
    margin-top: 5px;
    grid-template-columns: repeat(2, 1fr);
}


.decoration-detailed-control{
    width: 25%;
    position: fixed;
    left: 25%;
    bottom: 0px;
    overflow: scroll;
    max-height: var(--height);
    transition: max-height 0.5s ease-out, border-width 0.5s ease-out;
    border-block: var(--borderWidth, 0px) solid rgb(var(--anon-color));
    background-color: rgb(var(--anon-color-alpha));
    justify-content: stretch;
    z-index: 3;
}

.detailed-control-inner-container{
    margin-top: 10px;
    padding: 10px;
    gap: 10px
}

.tools-section-buttons, .layer-input{
    width: 50%;
    gap: 10px;
}

.detailed-delete-button{
    width: 100%;
}

.layer-input{
    justify-content: flex-start;
    align-items: center;
    text-wrap: nowrap;
}

.color-picker-block{
    background-color: var(--background-color, transparent);
    border: 1px solid black;
    width: 6ch;
    height: 34px;
    border-radius: 5px;
}


.detailed-delete-button.tools-section-buttons{
    background-color: #DC3545;
    color: white;
}


.subsection-buttons{
    position: relative;
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid rgb(var(--saki-color));
    justify-content: center;
    scroll-snap-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.subsection-buttons.active{
    border: 5px solid rgb(var(--anon-color));
}

.subsection-buttons svg{
    width: 80%;
    height: 80%;
    fill: rgb(var(--saki-color));
}

.subsection-buttons p{
    align-self: center;
}

.button-background-images{
    object-fit: cover;
    width: 150%;
    max-width: 150%;
    object-position: center;
    flex-shrink: 0;
    z-index: 1;
}

.button-text{   
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 2;
    width: 100%;
    text-align: center;
    color: white;
}

.photo-booth-canvas{
    max-width: 600px;
    pointer-events: none;
}

/* .photo-booth-canvas-container, .tools-section{
    z-index: 1;
} */

.photo-booth-canvas-container{
    border: 5px solid rgb(var(--combined-color));
    --background-image: url(/assets/photobooth-assets/bg/mall.webp);
    background: var(--background-image);
    background-size: cover;
    width: 80%;
    max-width: 600px;
    aspect-ratio: 6/7;
    justify-content: center;
    position: relative;
    filter: brightness(var(--brightness, 1))
            blur(var(--blur, 0px)) 
            grayscale(0%) 
            hue-rotate(var(--hue, 0deg))
            invert(0%) 
            saturate(var(--saturation, 100%)) 
            contrast(var(--contrast, 1))
            sepia(0%);

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    touch-action: none;
}

#flash-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: white;
    opacity: 0;
    z-index: 100;
}

.photo-booth-canvas-container .spinner-container {
    color: white;
}

.photo-booth-canvas-container #gl_canvas{
    width: 100%;
    height: 100%;
    z-index: 50;
}

.cat-whisker{
    background-image: url(/assets/photobooth-assets/cat-whiskers.webp);
    background-size: cover;
    width: 100px;
    height: 50px;
}

.prop-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.decoration-container{
    --width: 100px;
    --height: 100px;
    --left: 50px;
    --top: 50px;
    --rotation: 0deg;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--width);
    height: var(--height);
    left: var(--left);
    top: var(--top);
    z-index: var(--zIndex, 1);
    transform: rotate(var(--rotation));
    justify-content: center;
    align-items: center;
    transform-origin: center center 0px;
    cursor: var(--pointer, grab);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.decoration-container img, .decoration-assets-container{
    width: 100%;
}

.decoration-assets-container{
    justify-content: center;
    align-items: center;
}

.decoration-assets-container svg{
    width: 85%;
    fill: var(--color, white);
    stroke: var(--color, black);
    color: var(--color, black);
}

.text-decoration{
    background: transparent;
    width: var(--width, 100%);
    border: none;
    font-size: calc(var(--scale) * 1rem);
    min-width: 50px;
    padding-inline: 5px;
    z-index: 1;
}

.basic-text{
    color: var(--color, white);
}

.bubbly-text{
    color: var(--color, #7799CC);
    -webkit-text-stroke: 1px white;

}

.text-decoration:focus-visible{
    outline: none;
}

@supports (field-sizing: content) {
  .text-decoration {
    field-sizing: content;
    width: auto; 
  }
}

.edit-overlay{
    position: absolute;
    border: 2px solid rgb(var(--anon-color));
    height: 100%;
    width: 100%;
    top: 0;
    user-select: none;
}

.overlay-buttons{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid rgb(var(--combined-color));
}

.overlay-buttons svg{
    width: 60%;
    height: 60%;
}

.resizing-editor{
    border: 2px solid rgb(var(--saki-color));
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
    cursor: nwse-resize;
    fill: rgb(var(--saki-color));
}

.resizing-editor svg{
    rotate: 90deg;
}

.overlay-close-button{
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
    background-color: red;
}

.rotation-button{
    background-color: rgb(var(--saki-color-alpha));
    fill: white;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.flip-button{
    bottom: 0px;
    left: 0px;
    transform: translate(-50%, 50%);
    fill: rgb(var(--anon-color-alpha));
}

.fill-button{
    bottom: 0px;
    right: 0px;
    transform: translate(50%, 50%);
    background-color:white;
    border: 2px solid rgb(var(--combined-color));
}

.fill-button svg{
    fill: var(--color, white);
}

.color-picker{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#z-index-button-1{
    left: 0px;
    top: 50%;
    transform: translate(-75%, -50%);
}

#z-index-button-2{
    right: 0px;
    top: 50%;
    transform: translate(75%, -50%);
}

.text-edit-button {
    left: 50%;
    top: 0px;
    transform: translate(-50%, -50%);
    fill: rgb(var(--combined-color));
}

#gl_canvas canvas{
    height: 100%;
    width: 100%;
}

.photo-popup.polaroid-container{
    position: absolute;
    width: auto;
    padding: 20px;
    height: auto;
    max-width: 90%;
    min-width: 340px;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 0%);
    pointer-events: all;
    cursor: default;
    box-shadow: none;
}

.photo-popup-buttons-container{
    width: 100%;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
}

.photo-popup img{
    user-select: none;
}

.photobooth-page .sticky-note-popup{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.photo-popup-buttons{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    padding: 0.6rem 2rem;
    border-radius: 10px;
    background-color: rgb(var(--anon-color));
    border: 2px solid rgb(var(--saki-color));
}

.photo-popup-buttons svg{
    display: inline;
    vertical-align: baseline;
    width: 1rem;
    height: 1rem;
    fill: white;
}

.photo-popup p{
    font-size: 1rem;
    color: #CC3300;
}

.photo-popup-buttons:active{
    transform: translateY(2px);
}

.loading-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 150px;
    background: white;
    opacity: 0.8;
    border: 2px solid rgb(var(--combined-color));
    transform: translate(-50%, -50%);
    border-radius: 20px;
    z-index: 100;
}

.loading-popup .spinner-container{
    justify-content: center;
    align-items: center;
}

.upload-input{
    display: none;
}

.photo-help-modal{
    height: var(--height);
    justify-content: space-between;
    transition: height 0.5s;
    top: 35%;
}

.help-count{
    margin-top: auto;
    margin-bottom: 10px;
}

@media (min-width: 480px) {
    .motion-subsection, .expression-subsection, .decor-subsection, .background-subsection, .filter-subsection, .cloth-subsection{
        grid-template-columns: repeat(3, 1fr)
    }
    .photo-booth-canvas-container{
        width: 50%;
    }
    .photo-popup.polaroid-container{
        max-width: 60%;
    }
    .home-subsection{
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 768px) {
    .motion-subsection, .expression-subsection, .decor-subsection, .background-subsection, .filter-subsection, .cloth-subsection{
        grid-template-columns: repeat(4, 1fr)
    }

    .input-container{
        gap: 20px;
    }
    .photo-popup.polaroid-container{
        max-width: 50%;
    }

    .overlay-buttons{
        width: 30px;
        height: 30px;
    }

    .home-subsection{
        grid-template-columns: repeat(8, 1fr);
    }

}

@media (min-width: 1024px) {
    .photobooth-page{
        flex-direction: row;
        padding-top: 5%;
        padding-inline: 20px;
        justify-content: center
    }

    .subsection-container, .decor-tab, .background-tab, .filter-tab{
        scroll-snap-type: unset
    }

    .photobooth-page>*{
        flex: 1;
    }

    .motion-subsection, .expression-subsection, .decor-subsection, .background-subsection, .filter-subsection, .cloth-subsection{
        grid-template-columns:repeat(3, 1fr)
    }

    .tools-section{
        border-top: none;
        max-height: 700px;
        width: 50%;
        max-width: 600px;
        aspect-ratio: 6/7;
        height: auto;
        justify-content: flex-start;
        padding-top: 0px;
        min-height: 200px;
        border: 5px solid rgb(var(--combined-color))
    }

    .tab-selector{
        order: -1;
        margin-top: 0px;
        padding-bottom: 10px;
    }
    
    .tab-selector-button {
        border-top: none;
        border-bottom: 1px solid gray;
    }

    .tab-selector-button.active{
        border-top: none;
        border-bottom: 2px solid rgb(var(--combined-color));
    }
    .photo-popup.polaroid-container{
        max-width: 40%;
    }
    
    .photo-help-modal{
        top: 50%;
    }

}

@media screen and (min-width: 1920px) {
    .photo-help-modal{
        height: auto
    }
}