.photobooth-page{
    width: 100vw;
    height: 100dvh;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(var(--anon-color-alpha));
    padding-top: 15%;
    gap: 10px;
    overflow-x: hidden;
}

.tools-section{
    width: 100%;
    height: 40%;
    /* background-color: rgb(var(--saki-color-alpha)); */
    /* background-color: white; */
    /* border-top: 2px solid rgb(var(--saki-color)); */
    border-top: 1px solid gray;
    border-radius: 10px 10px 0px 0px;
    /* padding-inline: 10px; */
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    overflow-x: hidden;
}


.tools-section button{
    all: unset;
    text-align: center;
    cursor: pointer;
    box-sizing:border-box;
    text-align: center;
}

.tab-selector{
    margin-top: auto;
    width: 100%;
    justify-content: space-evenly;
    /* border-radius: 25px; */
}

.tabs-container{
    overflow: hidden;
    justify-content: flex-start;
    width: 400%;
}

.tabs{
    width: 25%;
    flex-shrink: 0;
    padding-inline: 10px;
    position: relative;
}

.character-selection, .input-container{
    width: 100%;
    gap: 20px;
    justify-content: space-between;
}

.back-button{
    width: 38px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.back-button-svg{
    position: absolute;
    width: 28px;
}

#back{
    opacity: 0;
}

.character-selection{
    position: sticky;
    padding-bottom: 7.5px;
    border-bottom: 1px solid gray;
    top: 0px;
}

.character-toggle{
    border-radius: 25px;
    border: 2px solid rgb(var(--saki-color));
    flex-grow: 1;
    position: relative;
}

.character-toggle button{
    padding-inline: auto;
    width: 50%;
}

.subsection-container, .decor-tab, .background-tab{
    overflow-y: scroll;
    scroll-snap-type: y mandatory
}

.decor-tab, .background-tab{
    padding: 10px;
    gap: 10px;
}
.decor-tab .button-background-images{
    width: 100%;
    max-width: 100%;
    object-fit: contain;
}

.tools-subsections{
    padding: 5px 15px 5px 0px;
    gap: 10px;
    min-height: 100px;
}

.pill{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgb(var(--saki-color-alpha));
    z-index: -1;
    border-radius: 25px;
    transition-property: background-color
}

.home-subsection{
    gap: 20px;
    padding: 10px;
}

.home-subsection-icon{
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1.5px solid gray;
    background-color: rgb(var(--anon-color-alpha));
    border-radius: 15px;
}

.tools-subsections .home-subsection-icon svg{
    width: 32px;
    height: 32px;
}


.input-container input{
    flex-grow: 1;
    accent-color: rgb(var(--saki-color-alpha));
      
}

/* input[type="range"]::-moz-range-progress, {
    
} */

.tab-selector-button{
    padding: 5px;
    flex-grow: 1;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.tools-subsections svg{
    width: 15px;
    height: 15px;
    fill: currentColor;
    flex-shrink: 0;
    vertical-align: text-top;
}

.tools-section .tools-section-buttons{
    border-radius: 5px;
    background-color: rgb(var(--combined-color));
    padding: 5px;
}

.tools-section .tools-section-buttons:active{
    border: 2px solid rgb(var(--saki-color))
}

.tools-section-buttons svg{
    display: inline;
}

.tab-selector-button.active{
    color: rgb(var(--combined-color));
    background-color: rgb(var(--anon-color-alpha));
    border-top: 2px solid rgb(var(--combined-color));
}

/* .tab-selector-button:nth-child(2){
    border-inline: 1px solid gray;
}

.tab-selector-button:nth-child(3){
    border-right: 1px solid gray;
} */

.motion-subsection, .expression-subsection, .decor-tab, .background-tab{
    flex-wrap: wrap;
    justify-content: space-between;
}

.subsection-buttons{
    position: relative;
    width: 45%;
    aspect-ratio: 4/3;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid rgb(var(--saki-color));
    justify-content: center;
    scroll-snap-align: center;
    max-width: 200px;
    cursor: pointer;
}

.subsection-buttons.active{
    border: 5px solid rgb(var(--anon-color));
}

.button-background-images{
    object-fit: cover;
    width: 150%;
    max-width: 150%;
    object-position: center;
    flex-shrink: 0;
    z-index: 1;
}

.button-text{   
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 2;
    width: 100%;
    text-align: center;
    color: white;
}

.photo-booth-canvas{
    max-width: 600px;
    pointer-events: none;
}

.photo-booth-canvas-container{
    border: 5px solid rgb(var(--combined-color));
    --background-image: url(/assets/photobooth-assets/bg/mall.webp);
    background: var(--background-image);
    background-size: cover;
    width: 80%;
    max-width: 600px;
    aspect-ratio: 6/7;
    justify-content: center;
    position: relative;
}

.cat-whisker{
    background-image: url(/assets/photobooth-assets/cat-whiskers.webp);
    background-size: cover;
    width: 100px;
    height: 50px;
}

.prop-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.decoration-container{
    --width: 100px;
    --height: 100px;
    --left: 50px;
    --top: 50px;
    --rotation: 0deg;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--width);
    height: var(--height);
    left: var(--left);
    top: var(--top);
    transform: rotate(var(--rotation));
    z-index: 50;
    justify-content: center;
    align-items: center;
    transform-origin: center center 0px;
    cursor: grab;
}

.decoration-assets-container{
    width: 85%;
}

.edit-overlay{
    position: absolute;
    border: 2px solid rgb(var(--anon-color));
    height: 100%;
    width: 100%;
    top: 0;
}

.overlay-buttons{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.resizing-editor{
    background-color: white;
    border: 2px solid rgb(var(--saki-color));
    top: -10px;
    left: -10px;
    cursor: nwse-resize;
    fill: rgb(var(--saki-color));
}

.resizing-editor svg{
    rotate: 90deg;
}

.overlay-close-button{
    top: -10px;
    right: -10px;
    background-color: red;
}

.rotation-button{
    background-color: rgb(var(--saki-color-alpha));
    fill: white;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
