.PWA-hint-modal{
    width: 80%;
    max-width: 400px;
    height: auto;
    color: rgb(var(--combined-color));
    transform: translate(-50%, -50%);
    background-color: color-mix(in srgb, rgb(var(--anon-color)) 15%, white 85%);
}

.pwa-buttons{
    width: 100%;
    justify-content: space-evenly;
}

.confirmation-modal-back-drop{
    align-items: center;
}

.inline-svg{
    width: 1.25rem;
    height: 1.25rem;
    align-self: center;
}

.date-page, .sc-room-page{
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.max-content-container{
    gap: 20px;
    padding-block: 10%;
    padding-inline: 2%;
    max-width: 1400px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.date-page{
    background-color: rgb(var(--anon-color-alpha));
}

.sc-room-page{
    background-color: rgb(var(--saki-color-alpha));
}


.date-page .dialog-box.saki-border, .sc-room-page .dialog-box.anon-border{
    justify-content: center;
    background-image: none;
    gap: 7.5px;
    flex: 1 1 0px;
    height: 0px;
    min-height: 0px;
}

.date-page-images{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.photo-sample{
    object-fit: cover;
    transform: translateY(-10px);
}

.camera-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.max-content-container>div{
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0px;
    min-height: 0px;
}

.sc-room-page img{
    max-height: 100%;
}

.notebook-img{
    rotate: 5deg;
}

.sc-room-page .polaroid-container{
    position: relative;
    height: auto;
    max-width: 500px;
    aspect-ratio: 5/6;
    rotate: -5deg;
    padding: 7px 7px 10px 7px;
    width: fit-content;
}

.sc-room-page .polaroids-content-container{
    width: 100%;
}

.notebook-img, .sc-room-page .polaroid-container{
    cursor: pointer;
    transition: scale 0.3s ease-in-out, rotate 0.3s ease-in-out;
}

.notebook-img:hover, .sc-room-page .polaroid-container:hover{
    scale: 1.1;
    rotate: 0deg;
    transition: scale 0.3s ease-in-out, rotate 0.3s ease-in-out;
    z-index: 2;
}

.sc-room-title{
    font-size: 1.15rem;
}

#notebook-title{
    margin-bottom: 5%;
}

.sc-room-sub-title{
    font-size: 0.75rem;
}

@media screen and (max-width: 767px){
    .sc-room-page .polaroids-content-container > img{
        width: 180px;
        height: 200px;
    }

}

@media screen and (min-width: 2550px){
}

@media screen and (min-width: 1900px), (min-height: 1000px){
}

@media screen and (min-width: 1200px){
    .max-content-container{
        flex-direction: row;
    }

    .date-page .dialog-box.saki-border, .sc-room-page .dialog-box.anon-border{
        height: auto;
        aspect-ratio: 1;
    }

    .sc-room-title{
        font-size: 1.5rem;
    }

    .sc-room-sub-title{
        font-size: 1.25rem;
    }
}


@media screen and (min-width: 768px){
    .max-content-container{
        padding-block: 15%;
    }

    .date-page .dialog-box.saki-border, .sc-room-page .dialog-box.anon-border{
        width: 50%;
    }
}